<ion-view view-title="Profiles" ng-controller="ProfilesCtrl as ctrl">
    <ion-content>
        <ion-list can-swipe="ctrl.listCanSwipe">
            <ion-item on-tap="ctrl.newProfile()" class="new-profile-item"><i class="icon ion-plus"></i> New Profile...</ion-item>
            <ion-item ui-sref="app.profile({profileId: profile.id})" ng-repeat="profile in profiles">
                {{profile.name}}
                <ion-option-button class="button-assertive" ng-click="ctrl.deleteProfile(profile)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
