<ion-view view-title="{{profile.name}}">
  <ion-content>
    <ion-list>
      <label class="item item-input">
        <div class="input-label">Profile Name</div>
        <input type="text" placeholder="Name" ng-model="profile.name" >
      </label>
      <label class="item item-input" >
        <div class="input-label">Location</div>
        <button class="button button-light" ui-sref="app.locations">{{location.locationDescription || 'Select a location'}}</button>
      </label>
    </ion-list>
  </ion-content>
</ion-view>
